.profile__activity {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    margin: 14px auto 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 282px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .profile__activity{
       text-align: left;
    }
}

@media screen and (min-width: 500px) {
    .profile__activity{
        font-size: 18px;
        line-height: 21.78px;
        max-width: 336px;
    }
}