.profile__add-button {
    background-image: url(../../../images/PlusVector.svg);
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    width: 282px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 1);
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    margin: 0 auto 36px;
    transition: opacity 0.5s ease;
}

.profile__add-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s ease;
}

@media screen and (min-width: 768px) {
    .profile__add-button {
       margin: 35px 0 0;
    }
}

@media screen and (min-width: 500px) {
    .profile__add-button {
        background-size: 22px;
        width: 150px;
    }
}