.footer__copyright {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(84, 84, 84, 1);
    margin-top: 48px;
    margin-left: 19px;
    margin-bottom: 36px;
}

@media screen and (min-width: 600px) {
    .footer__copyright {
        margin-left: 50px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__copyright {
        margin-top: 67px;
        margin-bottom: 60px;
        margin-left: 200px;
    }
}