.footer {
    width: calc(100% - 19px*2);
}

@media screen and (min-width: 600) {
    .footer {
        width: calc(100% - 50px*2);
    }
}

@media screen and (min-width: 1280) {
    .footer {
        width: calc(100% - 200px*2);
    }
}